<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/question.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link rel="shortcut icon" href="images/business.png" type="image/x-icon"/>
    <title>Business Ideas</title>
    <!-- JavaScript -->


<!-- CSS -->

<!-- Default theme -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>




</head>
<body >
 
    <div class="question-box z-depth-3">
        <div class="question" id="style-4">
            <h1>Question <span id="question_no"></span></h1>
            <p id="question"> </p>


        </div>
        <div id="expand-sym" onclick="expand()">

            <p><i class="material-icons">unfold_more</i></p>
        </div>

    </div>




    
    <div id='cntnr' >
        <p onclick="changecolor()">change colour!</p>
        
        <p onclick="Signout()">SignOut</p>
        <p onclick="score()">Score</p>
    </div>
    


    <script>
        var elem = document.querySelector('.collapsible.expandable');
        var instance = M.Collapsible.init(elem, {
            accordion: true
        });
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
            M.AutoInit();
        });
    </script>
    <script src="js/question.js"></script>
</body>

</html>