<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">Samsung</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
	<center><h1>Samsung finance</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p>Finance is a field that is concerned with the allocation of assets and liabilities over space and time, often under conditions of risk or uncertainty. Finance can also be defined as the art of money management. Participants in the market aim to price assets based on their risk level, fundamental value, and their expected rate of return. Finance can be split into three sub-categories: Public, Corporate and Personal. Samsung is a multibillion dollar company competing neck to neck with many other leading electronics and construction companies. It is a South Korea based company with its headquarters in Samsung Town, Seoul. It comprises numerous affiliated businesses, most of them united under the Samsung brand. Presently it is headed by Sang hun-lee (Chairman) and Lee Jae-wong (Vice chairman), while the Finance is handles by Sun-uk Kim. </p><br>


  <b><h2><u>History</u></h2></b><br>
  <p>The company started in 1938 as an exporter of dried fish vegetables & fruits. In 1950, Due to the Korean War the country suffered a huge loss in the economy. Samsung lost all of its assets that they earned from the exporting business. To sustain in those circumstances, the company aimed at rebuilding the Korean Economy. In the process of that they entered into the manufacturing industry (Sugars, Fabrics). The company was Profit oriented since the year it was founded itself. They became leader in modern business practices and started recruiting employees from different countries which resulted in low cost. In 1960’s the company started concentrating largely on expansion. They entered in the electronics & Chemical Industries which laid the groundwork for electronics in Korea which eventually helped in Domestic Economy growth. In the 80’s they started to export their goods globally which helped in gaining reputation globally and also led them to increase their profits exponentially. To cut down the transportation costs and to get cheaper labour they established plants in Portugal & United States. They also entered into Semiconductor & Communication Corporation. In the next decade the company wholly concentrated on Integration & Globalization. They also implemented new management strategies according to the Employees, Market and Customers that they gained due to global expansion. Their core markets included home, mobile, personal multimedia. <br>
In 1996, the company suffered hugely in their Revenue growth & operating income. This made the company to change their CEO and give a chance to others. Here comes Jong Yong Yun. He made revolutionary changes in the company. 
</p><br>
<center><img src="images/revenue.jpg" height="300px" width="400px"></center><br>
<center><img src="images/operating_income.jpg" height="300px" width="400px"></center><br>

<p>The major steps which created a turnaround were business focus and management practices. The results were very positive till 1999, but in that year Samsung was facing the effects of the downturn in the high tech market.</p>
<br>
<center><img src="images/stock_pre.jpg" height="300px" width="400px"></center><br>


<b><h2><u>PATHWAY TO CURRENT SCENARIO</u></h2></b><br>
  <p>With the massive boom in the electronics production technologies and purchase demands, the finances of Samsung industries increased exponentially. It also survived the Asian Financial crisis of 1997 relatively unharmed. In 2010, Samsung announced a ten-year growth strategy centred around five businesses. One of these businesses was to be focused on biopharmaceuticals, to which 2,100,000,000,000 Korean Won. As of 2012, Samsung has invested more than 13,000,000,000 USD in the Austin facility, which operates under the name Samsung Austin Semiconductor. This makes the Austin location the largest foreign investment in Texas and one of the largest single Foreign Investment in the United States. On 24 August 2012, nine American jurors ruled that Samsung Electronics had to pay Apple $1.05 billion in damages for violating six of its patents on smart phone technology which is almost the amount required by Jet Airways to pay off all its debts and come back into business. The award was still less than the $2.5 billion requested by Apple. The decision also ruled that Apple did not violate five Samsung patents cited in the case. Samsung decried the decision saying that the move could harm innovation in the sector. It also followed a South Korean ruling stating that both companies were guilty of infringing on each other's intellectual property. In first trading after the ruling, Samsung shares on the Kospi Index fell 7.7%, the largest fall since 24 October 2008, to 1,177,000 Korean won. But even after this setback, they came back hard with their new and developed financial strategies. This resulted in Samsung successfully hitting billion dollar sale in the second quarter of 2013.</p><br>

  <center><img src="images/kospi_index.jpg" height="500px" width="450px"></center><br>

<b><h2><u>CURRENT SCENARIO</u></h2></b><br>
  <p>Samsung is presently placed 2nd in the Forbes list in the list of largest Tech based companies (only below Apple) and 14th largest company overall in the world. It now has a huge worldwide network of electronics and other subsidiaries like Engineering, C&T Corporation, Heavy industries, Life insurance, all coming under the brand SAMSUNG. The company has also come up with SAMSUNG NEXT which specifically focuses on present day start-ups and has already invested multimillion dollars in them by now globally. This resulted in stakes of up to 29.9% in 80+ start-ups. They also contributed to the company’s profits along with the subsidiaries.  It saw $225 billion in sales, $21 billion in profit, $293 billion in assets and a market cap of $326 billion. </p><br>

</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. What is the name of the current Vice Chairman of Samsung Industries?</b>
<div class="content">
  <p>
    <input type="radio" name="q1"> Sun-uk Kim<br>
    <input type="radio" name="q1"> Lee Jae-wong<br>
    <input type="radio" name="q1"> Sang hun-lee<br>
    <input type="radio" name="q1"> Lee Byung-chul<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. In which year did Samsung reach its all time best Kospi index figure so far?</b>
<div class="content">
    <p>

    <input type="radio" name="q2">2008<br>
    <input type="radio" name="q2">2017<br>
    <input type="radio" name="q2">2010<br>
    <input type="radio" name="q2">2018<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. Which one is not a finance sub category?</b>
<div class="content">
    <p>
    <input type="radio" name="q3">Public<br>
    <input type="radio" name="q3">Personal<br>
    <input type="radio" name="q3">Muthoot<br>
    <input type="radio" name="q3">Corporate<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. How much penalty did Samsung pay to Apple?</b>
<div class="content">
    <p>
    <input type="radio" name="q4">1.5 billion dollars<br>
    <input type="radio" name="q4">2.5 billion dollars<br>
    <input type="radio" name="q4">1.05 billion dollars<br>
    <input type="radio" name="q4">2 billion dollars<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. When did Samsung start exporting goods globally?</b>
<div class="content">
    <p>
    <input type="radio" name="q4">1970<br>
    <input type="radio" name="q4">1960<br>
    <input type="radio" name="q4">1980<br>
    <input type="radio" name="q4">1940<br>
  </p>

    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <script src="js/description.js"></script>
  
</body>

</html>