<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Ideas</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        
        <link rel="shortcut icon" href="images/business.png" type="image/x-icon"/>
     <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>
    <script>
    // TODO: Replace the following with your app's Firebase project configuration
 const firebaseConfig = {
  apiKey: "AIzaSyAsnsRrv6SqqlOr8GLIfCFruCCNS7GNqhc",
  authDomain: "business-idea-c71fa.firebaseapp.com",
  databaseURL: "https://business-idea-c71fa.firebaseio.com",
  projectId: "business-idea-c71fa",
  storageBucket: "business-idea-c71fa.appspot.com",
  messagingSenderId: "596416227592",
  appId: "1:596416227592:web:58620c9d1def3f03"
};

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
  <script src="js/login.js"></script>

    
    
            
</head>
<body>
    <div class="containermain" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <img src="images/business.png" alt="">
    <input type="email" placeholder="email" id="email"/>
    <input type="password" placeholder="password" id="password"/>
    <button class="btn waves-effect waves-light" type="submit" name="action" id="submit" onclick="submit()">Submit
    
  </button>

  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>