<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>
<style type="text/css">
  p,li{
    font-family: comic-sans;
    font-size: 1.3em;
  }
</style>
<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">MAHINDRA & MAHINDRA</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
  <center><h1>Mahindra Production</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p align="justify">&emsp;&emsp;Mahindra & Mahindra Ltd (M&M) is an India-based company. The company operates in nine segments: automotive segment comprises of sales of automobiles spare parts and related services; farm equipment segment comprises of sales of tractors spare parts and related services; information technology (IT) services comprises of services rendered for IT and telecom; financial services comprise of services relating to financing leasing and hire purchase of automobiles and tractors; steel trading and processing comprises of trading and processing of steel; infrastructure comprises of operating of commercial complexes project management and development; hospitality segment comprises of sale of timeshare; Systech segment comprises of automotive components and other related products and services and its others segment comprise of logistics after-market two-wheelers and investment. 

</p><br><br>



  <p align="justify">&emsp;&emsp;Mahindra & Mahindra Ltd was incorporated on October 2, 1945, with the name Mahindra & Mohammed Ltd. The company was renamed as Mahindra & Mahindra Ltd in the year 1948. The steel trading business was commenced in association with suppliers in the UK. In the year 1950, the company commenced the first business with Mitsubishi Corporation and 5000 tons of wagon building plates from Yawata Iron & Steel were supplied. In the year 1953, the Otis Elevator Company (India) was established. A joint venture was made with Rubery Owen & Company Limited UK and established a company under the name of Mahindra Owen. The company's Machine Tools Division has commenced its operations in the year 1958. In the year 1960 Mahindra Sintered Products Limited was established based on a joint venture with Bir Field (GKN Group UK). In the year 1962 Mahindra Ugine Steel Company was established as a joint venture between the company and Ugine Kuhlmann France. In the year 1963 International Tractor Company of India was established as a joint venture with International Harvester Company USA. In the year 1965, the company entered into the light commercial vehicles segment. In the year 1995 Mahindra Holding & Finance Limited became a subsidiary of the company to carry out business as an investment company. The company made a technical collaboration with Mitsubishi / Samcor to manufacture the Mitsubishi L300. In the year 1996 Mahindra Ford India Limited has established a joint venture with Ford Motor Company USA to manufacture passenger cars. In the year 1999, the company acquired a major stake in Gujarat Tractors and renamed it Mahindra Gujarat Tractors Ltd. They set up a second tractor assembly plant in the USA. They ventured into Industrial engine business. Also, they launched India's first Turbo tractor Mahindra Sarpanch 595 DI Super Turbo They established Mahindra International Ltd a joint venture with International Truck and Engine Corporation to manufacture trucks & buses in India. In the year 2006, the company acquired the Stokes Group of UK the largest automotive forgings company in the UK. During the year 2009-10, the company hived off Mahindra Defence Systems Division into a wholly-owned subsidiary Mahindra Defence Land Systems Pvt Ltd (now rechristened as Defence Land Systems India Pvt Ltd) with effect from July 1 2009. Also, the company signed a joint venture agreement on November 30, 2009, with BAE Systems Plc. to form a 74:26 Joint Venture for defence land systems products. The company divested 46.66% of the equity share capital in Mahindra Gears & Transmissions Pvt Ltd in favour of ICICI Venture Fund. As per the scheme of arrangement between the company and Mahindra Shubhlabh Services Ltd the Agri Inputs Business of along with other common assets and liabilities of MSSL was de-merged and transferred into the company. During the year 2010-11, the company acquired Ssangyong Motor Company (SYMC) a premier manufacturer of sports utility vehicles and recreational vehicles in Korea. Also, the company acquired 38% of the paid-up equity share capital through a Preferential Allotment in EPC Industrie' Ltd (EPC) a company listed on the Bombay Stock Exchange Limited. In 2013 the company inked partnership with online shopping portal Snapdeal.com to sell its two-wheeler on the site. The company launches new visual identity reflecting modernity and dynamism. The company launches the Verito Executive edition. The company unveils the new Maxximo Plus Mini-truck in Bengaluru and Chennai. The company expands dealership network across India. The company launches the new Bolero Maxi Truck Plus - The Perfectly Styled City Pick-up in Ahmedabad. During the year Mahindra Two Wheelers wins 3 Awards at the CMO Asia - Manufacturing Excellence Awards 2013. Mahindra 2 Wheelers opens new dealership in Zirakpur Punjab. 
</p><br>

  <p align="justify">&emsp;&emsp;During the year the company signs MoU with Government of Bhutan to promote usage of Electric Vehicles in the country. Mahindra Defence Naval Systems Inaugurates new Chakan plant. Mahindra Integrated Business Solutions signs MoU with CARE Advisory. Mahindra Logistics acquires a majority stake in LORDS Freight (India) Pvt. Ltd. In 2015 Mahindra & Mahindra Ltd Mahindra Two Wheelers and Peugeot Motorcycles complete strategic partnership. Mahindra inaugurates its extended automotive manufacturing facility at Zaheerabad in Telangana.During the year the company has set up an Africa-focused business unit to maintain double-digit growth levels in the continent. The company launches its tough & stylish true blue SUV - TUV 300. Mahindra & Mahindra Mitsubishi Agricultural Machinery and Mahindra announce Start of their Strategic partnership. Mahindra Introduces the All-New Automatic Transmission of The New Age XUV500. M&M said that the connected vehicle technology solution will enhance the productivity of these vehicles thereby opening up a whole new dimension to the experience of vehicle ownership. M&M became the first OEM in India to offer a cloud-based technology platform in the category of small commercial vehicles.On 27 September 2016 M&M announced the introduction of its new mild-hybrid technology `Intelli-Hybrid' on its sports utility vehicle Scorpio for Delhi and NCR. M&M said that modern technology Intelli-Hybrid reduces fuel consumption by up to 7%. On 15 February 2017 Mahindra Truck & Bus Division (MTBD) announced the launch of Delhi-Mumbai Service Corridor to make service available at every 60 km across the industrial corridor. The company launched 4 new variants of its stylish and spacious passenger carrier namely Supro Minivan Supro Minivan VX Supro Minivan CNG and Supro School Van and 3 new variants of its modern load carrier Supro Minitruck Supro Mini Truck CNG and Supro Cargo. On 5 April 2017 M&M announced the launch of new age superior technology small tractor platform in the sub 25HP category under the brand JIVO. The molecule belongs to 3rd Generation technology and is a leading solution for key pests across the world. M&M showcased a full range of its mobility solutions - from 2 wheelers and personal vehicles to small medium and heavy commercial vehicles buses and a range of construction equipment at the 11th edition of Nepal Automobile Dealers' Association (NADA) Auto Show 2016 in Kathmandu from 29 August 2017 to 3 September 2016. Mobility electrification and product development are key areas of potential cooperation between the two auto majors. Teams from both companies will collaborate and work together for a period of up to three years. Any further strategic cooperation between the two companies will be decided at the end of that period. On 19 September 2017 M&M announced the national launch of its new electric CitySmart car the `e2oPlus' in Nepal. On the same day, M&M's farm equipment division showcased its driverless tractor developed at Mahindra Research Valley in Chennai. At that time M&M said it would commercially launch driverless tractors from early 2018 in a phased manner. On 20 September 2017 M&M announced its second foray into Turkey through the acquisition of Erkunt Traktor Sanayii A.S. (Erkunt) the 4th largest tractor brand in Turkey. Erkunt clocked revenue of USD 88 million for the calendar year 2016 and it sold around 4700 tractors during that period. M&M will also acquire a foundry unit Erkunt Sanayi A.S. which is a full-service provider from castings to machining. The foundry unit had revenue of USD 47 million during 2016. The company has set up its CKD (completely knocked down) assembly plant in partnership with Rangs Motors Ltd. On 25 September 2017 M&M announced the launch of the luxurious high-end `T10' variant of its SUV TUV300. On 28 September 2017 M&M announced its plan to deliver 50 units of the eSupro Passenger van to the Himachal Road Transport Corporation (HRTC). As part of HRTC's `Ride with Pride' initiative, the all-electric zero-emission Mahindra eSupro passenger vans will be used for public transportation in the state of Himachal Pradesh.On 3 October 2017 M&M's construction equipment division announced its foray into the road construction segment with the launch of its first Motor Grader - the Mahindra RoadMaster G75.On 4 October 2017 M&M announced the launch of a new W9 variant of its SUV XUV500. On 10 October 2017 M&M announced the launch of an updated version of its SUV KUV100 under the name KUV100 NXT. On 12 October 2017 M&M announced the launch of an updated version of Mahindra Pik Up vehicle in South Africa. The Board of Directors of M&M at its meeting held on 10 November 2017 recommended issue of bonus equity shares in proportion of 1:1. On 14 November 2017 M&M's automotive division announced the launch of 6 variants of its sports utility vehicle (SUV) Scorpio with higher power and torque new 6-speed transmission enhanced performance imposing styling and luxurious comfort. It was priced at Rs 9.97 lakh (ex-showroom Delhi for S3 variant). On 14 November 2017 M&M announced a licencing agreement with the Dewulf group for manufacture and marketing of potato planting equipment in India. Under the aegis of this agreement, M&M will work with the Dewulf Group to bring its potato planting technology to the Indian market. Dewulf is the world's foremost full-liner in potato and root crop machinery.On 15 November 2017 M&M announced the launch of the all-new automatic version of the New Age XUV500 in Dubai in two variants namely the W8 FWD and the W10 AWD. On 20 November 2017 M&M announced the opening of a new North American headquarters and manufacturing operation in Metro Detroit the first such new OEM facility in Southeast Michigan in over 25 years. M&M will manufacture new off-highway vehicles at the new facility. 

</p><br>

</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. Which of the following of the statements are wrong?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a">The automotive segment comprises of sales of automobiles spare parts and related services.<br>
    <input type="radio" name="q1" id="1b">Farm equipment segment comprises of sales of tractors spare parts and related services.<br>
    <input type="radio" name="q1" id="1c">Information technology (IT) services comprise of services rendered for IT and telecom.<br>
    <input type="radio" name="q1" id="1d">Financial services comprise operating of commercial complexes project management and development<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. What was the first business deal that the company completed?</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">The steel trading business in association with the suppliers of the US.<br>
    <input type="radio" name="q2" id="2b">The steel trading business with Yawata Iron & Steel where 5000 tons of Barrels were supplied.<br>
    <input type="radio" name="q2" id="2c">The steel trading business with Mitsubishi Corporation where 5000 tons of wagon were supplied.<br>
    <input type="radio" name="q2" id="2d">The wagon trading business with Mitsubishi Corporation where 5000 tons of wagon was requested.<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. In which year did the company’s Machine Tool Division commence?</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">1954<br>
    <input type="radio" name="q3" id="3b">1998<br>
    <input type="radio" name="q3" id="3c">1989<br>
    <input type="radio" name="q3" id="3d">1958<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. With which of the following companies did Mahindra did not form a joint venture?</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">Rubery Owen & company ltd.<br>
    <input type="radio" name="q4" id="4b">Ford motor company.<br>
    <input type="radio" name="q4" id="4c">International Harvester company ltd.<br>
    <input type="radio" name="q4" id="4d">Mercedes Benz.<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. Where did the company set up a second tractor assembly plant?</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">USA<br>
    <input type="radio" name="q5" id="5b">UK<br>
    <input type="radio" name="q5" id="5c">Singapore<br>
    <input type="radio" name="q5" id="5d">Malaysia<br>
  </p>

<br>
<b class="collapsible">Q6. When did Mahindra 2 wheelers achieve CMO Asia - Manufacturing Excellence?</b>
<div class="content">
  <p>
    <input type="radio" name="q6" id="6a">1997<br>
    <input type="radio" name="q6" id="6b">2007<br>
    <input type="radio" name="q6" id="6c">2013<br>
    <input type="radio" name="q6" id="6d">2017<br>
  </p>
</div>

<br>
<b class="collapsible">Q7. Why did the company sign MoU with the Government of Bhutan?</b>
<div class="content">
  <p>
    <input type="radio" name="q7" id="7a">To promote the reduction of carbon emission.<br>
    <input type="radio" name="q7" id="7b">To promote the sales of CNG vehicles.<br>
    <input type="radio" name="q7" id="7c">To promote usage of electric vehicles.<br>
    <input type="radio" name="q7" id="7d">To promote the research in Renewable fuel.<br>
  </p>
</div>

<br>
<b class="collapsible">Q8. When did M&M announce the opening of a new North American headquarters and manufacturing operation?</b>
<div class="content">
  <p>
    <input type="radio" name="q8" id="8a">20th November 2017.<br>
    <input type="radio" name="q8" id="8b">20th October 2018.<br>
    <input type="radio" name="q8" id="8c">17th November 2018.<br>
    <input type="radio" name="q8" id="8d">18th November 2017.<br>
  </p>
</div>

<br>
<b class="collapsible">Q9. How much revenue did the foundry unit generate during 2016?</b>
<div class="content">
  <p>
    <input type="radio" name="q9" id="9a">47 M USD<br>
    <input type="radio" name="q9" id="9b">20 M USD<br>
    <input type="radio" name="q9" id="9c">13 M USD<br>
    <input type="radio" name="q9" id="9d">23 M USD<br>
  </p>
</div>

<br>
<b class="collapsible">Q10. Where did the Mahindra research valley showcase its first driverless tractor?</b>
<div class="content">
  <p>
    <input type="radio" name="q10" id="10a">Chennai<br>
    <input type="radio" name="q10" id="10b">Mumbai<br>
    <input type="radio" name="q10" id="10c">Michigan<br>
    <input type="radio" name="q10" id="10d">Kansas<br>
  </p>
</div>

<br>
    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <script>
    var marks = 0
    function next(){
      
      var _0x3b87=['getElementById','checked','10a'];(function(_0xd632d7,_0x171422){var _0x37a95a=function(_0x3ea87b){while(--_0x3ea87b){_0xd632d7['push'](_0xd632d7['shift']());}};_0x37a95a(++_0x171422);}(_0x3b87,0x126));var _0x1bce=function(_0x48e662,_0x38fddb){_0x48e662=_0x48e662-0x0;var _0x326a2c=_0x3b87[_0x48e662];return _0x326a2c;};if(document[_0x1bce('0x0')]('1a')[_0x1bce('0x1')]){marks++;}if(document[_0x1bce('0x0')]('2a')[_0x1bce('0x1')]){marks++;}if(document[_0x1bce('0x0')]('3a')[_0x1bce('0x1')]){marks++;}if(document['getElementById']('4a')[_0x1bce('0x1')]){marks++;}if(document[_0x1bce('0x0')]('5a')[_0x1bce('0x1')]){marks++;}if(document[_0x1bce('0x0')]('6a')[_0x1bce('0x1')]){marks++;}if(document[_0x1bce('0x0')]('7a')[_0x1bce('0x1')]){marks++;}if(document['getElementById']('8a')['checked']){marks++;}if(document[_0x1bce('0x0')]('9a')['checked']){marks++;}if(document[_0x1bce('0x0')](_0x1bce('0x2'))[_0x1bce('0x1')]){marks++;}
      console.log(marks)
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivpro = currentState.trivpro                                      //flag to check if this part is already answred
              if(trivpro == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/mahindrarnd'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreProduction": marks,                                         //update score
                      "trivpro": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // console.log(response)
                      token = response.token
                      console.log(token)
                      console.log(response)
                      responseScore = response
                      location.href='/mahindrarnd'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
    
  </script>
  
</body>

</html>