<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>
<style type="text/css">
  p,li{
    font-family: comic-sans;
    font-size: 1.3em;
  }
</style>
<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">MAHINDRA & MAHINDRA</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
  <center><h1>Mahindra Sales</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p align="justify">&emsp;&emsp;Marketing and sales deals with the exploration and understanding of customer needs, with the response to them through the development, production and sales of goods and services (including innovation implementation) and also deals with the impact on customers' needs in accordance with the strategic purposes of the organization. Marketing and sales are closely linked. While marketing focuses more on pre-sales activities, surveys or understanding the needs of customers, sales processes are closely connected to them and realize the actual business relationships with customers.</p><br>



  <p align="justify">&emsp;&emsp;Mahindra & Mahindra was founded as a steel trading company on October 2, 1945, in Ludhiana as Mahindra & Mohammed by brothers Kailash Chandra Mahindra and Jagdish Chandra Mahindra along with Malik Ghulam Muhammad. Anand Mahindra, the present Chairman of Mahindra Group is the grand-son of Jagdish Chandra Mahindra. After India gained independence and Pakistan was formed, Muhammad emigrated to Pakistan. Muhammad acquired Pakistani citizenship and settled in Lahore, and in 1948 become Pakistan's first finance minister. Thereafter, the company changed its name to Mahindra & Mahindra in 1948. It eventually saw a business opportunity in expanding into manufacturing and selling larger MUVs, starting with the assembly under licence of the Willys Jeep in India. Soon established as the Jeep manufacturers of India, the company later commenced manufacturing light commercial vehicles (LCVs) and agricultural tractors.
<br>
Following is the total income of M&M from March 15: 
</p><br>
<center><img src="images/mahsales1.png" height="300px" width="400px"></center><br>

<p>In recent years, Mahindra has been facing tremendous competition from other companies like Suzuki and Hyundai. Companies like TATA are giving this company a tough run for the profit.</p>
<br>


  <p align="justify">&emsp;&emsp;In the year 2000, the company set up its first satellite tractor plant at Rudrapur. They launched a new age tractor Mahindra Arjun 605 DI (60 HP) in the market. Also, they launched Bolero GLX (a utility vehicle) in response to the needs of urban consumers. In 2001 they made a tie-up with Renault for Petrol Engines.
In the year 2002, the company launched Scorpio a new generation world-class sports utility vehicle. In the year 2003, they launched Invader a sporty open-top vehicle and MaXX Pik Up. In the year 2005, the company acquired a 51% stake in SAR Transmission Private Limited a company engaged in the manufacture of gears and transmission shafts. The company became the first Indian auto manufacturer to launch the Common Rail Diesel Engine (CRDe) offering it in the Scorpio. They acquired an 80% stake in the joint venture with Jiangling Motors i.e. in Mahindra (China) Tractor Company. In July 2007 the company launched the Mahindra Pik-Up (double cab) in Chile.   November 1, 2007, a wholly-owned affiliate of Navistar International Corporation signed a joint venture agreement with the company to produce diesel engines for medium and heavy commercial trucks and buses in India. On 11 August 2016 M&M announced that its small commercial vehicle Jeeto the modular range of 8 mini-trucks has garnered a market share of 20% within just a year of its launch. On 26 September 2016 M&M announced the introduction of DiGiSENSE a revolutionary connected vehicle technology solution in its small commercial vehicles Jeeto and Imperio. DiGiSENSE technology will be available in the X7 16 (BS4) variant of Jeeto and SC VX & DC VX variants of Imperio. M&M said that the connected vehicle technology solution will enhance the productivity of these vehicles thereby opening up a whole new dimension to the experience of vehicle ownership. M&M became the first OEM in India to offer a cloud-based technology platform in the category of small commercial vehicles. On 27 September 2016 M&M announced the introduction of its new mild-hybrid technology `Intelli-Hybrid' on its sports utility vehicle Scorpio for Delhi and NCR. This helped a lot as it increased the sales of the cars rapidly, and the company had a huge profit.
</p><br>



  <p>Mahindra & Mahindra announced its auto sales performance for August 2019 and the company's domestic sales stood at 33,564 units, a drop of 26 per cent over 45,373 units sold in August last year. The automaker continues to be affected by the overall slowdown in the auto sector and the Indian economy. The company's passenger vehicle (UV + cars) sales for August 2019 stood at 13,507 units, declining by 32 per cent when compared to the 19,578 units that were sold during the same month in 2018. UV sales dropped by 27 per cent with 13,037 units sold, as against 17,892 units sold August 2018. In the cars+vans segment that includes electric cars from Mahindra, the company registered a 75 per cent decline in volumes with 470 units sold as opposed to 1866 units in August last year. Mahindra's commercial vehicle segments too continued to report a drop in numbers. The manufacturer sold a total of 14,684 units in August 2019, a decline of 28 per cent over 20,326 units in August 2018. In the Medium and Heavy Commercial Vehicles segment, the automaker sold 354 vehicles in the last month, a drop of 69 per cent as against 1148 units sold in August last year. The three-wheeler segment though recorded a two per cent growth in August with 5373 units sold, as against 5289 units sold during the same period last year. Mahindra Electric, a part of the Mahindra Group, Tuesday said it expects to continue with the sales momentum of the last fiscal in which it doubled sales on the back of its focus on electric vehicles for fleet operators and three-wheelers. The company, which saw electric vehicles sales grow two-and-a-half times to 10,276 units in 2018-19 from 4,026 units in 2017-18, has also started supplying EVs to state-owned EESL for the second phase of a combined 10,000 units order. Mahindra had a collaboration with Renault for some time. But it got broken because of some misconduct from Renault. Yet M&M has reached this height because of their dedication and hard work.
</p><br>

<p>Following is a chart of shipment for leading car manufacturing companies:</p>
<br>
<center><img src="images/mahsales2.png" height="300px" width="400px"></center><br>

</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. When was Mahindra & Mahindra founded?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a">October 2nd, 1945.<br>
    <input type="radio" name="q1" id="1b">March 24th, 1956.<br>
    <input type="radio" name="q1" id="1c">October 1st, 2000.<br>
    <input type="radio" name="q1" id="1d">May 23rd, 1967.<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. What are the current competing companies for Mahindra?</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">Benz<br>
    <input type="radio" name="q2" id="2b">BMW<br>
    <input type="radio" name="q2" id="2c">Hyundai<br>
    <input type="radio" name="q2" id="2d">Ferrari<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. Where did they set up their first satellite tractor plant?</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">Dholakpur<br>
    <input type="radio" name="q3" id="3b">Nagpur<br>
    <input type="radio" name="q3" id="3c">Rudrapur<br>
    <input type="radio" name="q3" id="3d">Manesar<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. Why did they tie-up with Renault in 2001?</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">IC engines<br>
    <input type="radio" name="q4" id="4b">Diesel engines<br>
    <input type="radio" name="q4" id="4c">Petrol engines<br>
    <input type="radio" name="q4" id="4d">Brake systems<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. How much % of stake did the company get when the company signed a joint venture with SAR transmission private limited?</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="5a">51%<br>
    <input type="radio" name="q4" id="5b">23%<br>
    <input type="radio" name="q4" id="5c">49%<br>
    <input type="radio" name="q4" id="5d">60%<br>
  </p>

<br>
<b class="collapsible">Q6. When did they launch Mahindra Bolero GLX?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="6a">2001<br>
    <input type="radio" name="q1" id="6b">2000<br>
    <input type="radio" name="q1" id="6c">2003<br>
    <input type="radio" name="q1" id="6d">2002<br>
  </p>
</div>

<br>
<b class="collapsible">Q7. In which car did the company launch Common rail Diesel engine?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="7a">Bolero<br>
    <input type="radio" name="q1" id="7b">Scorpio<br>
    <input type="radio" name="q1" id="7c">Xylo<br>
    <input type="radio" name="q1" id="7d">Thar<br>
  </p>
</div>

<br>
<b class="collapsible">Q8. Which small commercial vehicle of Mahindra gained 20% of the market share within a year?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="8a">E-alfa<br>
    <input type="radio" name="q1" id="8b">Supro<br>
    <input type="radio" name="q1" id="8c">Jeeto<br>
    <input type="radio" name="q1" id="8d">Maxi truck<br>
  </p>
</div>

<br>
<b class="collapsible">Q9. When did the company announce the digiSense technology?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="9a">26th September 2016.<br>
    <input type="radio" name="q1" id="9b">28th November 2017.<br>
    <input type="radio" name="q1" id="9c">30th March 2018.<br>
    <input type="radio" name="q1" id="9d">29th May 2015.<br>
  </p>
</div>

<br>
<b class="collapsible">Q10. Which was the first company to offer a cloud-based technology platform in the category of small commercial vehicles?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="10a">Benz<br>
    <input type="radio" name="q1" id="10b">Hyundai<br>
    <input type="radio" name="q1" id="10c">Mahindra<br>
    <input type="radio" name="q1" id="10d">Renault<br>
  </p>
</div>
<br>
    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <script>
    var marks = 0
    function next(){
      if(document.getElementById('1a').checked){
        marks++
      }
      if(document.getElementById('2a').checked){
        marks++
      }
      if(document.getElementById('3a').checked){
        marks++
      }
      if(document.getElementById('4a').checked){
        marks++
      }
      if(document.getElementById('5a').checked){
        marks++
      }
      if(document.getElementById('6a').checked){
        marks++
      }
      if(document.getElementById('7a').checked){
        marks++
      }
      if(document.getElementById('8a').checked){
        marks++
      }
      if(document.getElementById('9a').checked){
        marks++
      }
      if(document.getElementById('10a').checked){
        marks++
      }
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivsal = currentState.trivsal                                      //flag to check if this part is already answred
              if(trivsal == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/mahindrafin'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreSales": marks,                                         //update score
                      "trivsal": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // console.log(response)
                      token = response.token
                      console.log(token)
                      console.log(response)
                      responseScore = response
                      location.href='/mahindrafin'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
      
      
  </script>

</body>

</html>