<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>
<style type="text/css">
  p,li{
    font-family: comic-sans;
    font-size: 1.3em;
  }
</style>
<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">MAHINDRA & MAHINDRA</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
  <center><h1>Mahindra Finance</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p align="justify">&emsp;&emsp;Finance is a field that is concerned with the allocation of assets and liabilities over space and time, often under conditions of risk or uncertainty. Finance can also be defined as the art of money management. Participants in the market aim to price assets based on their risk level, fundamental value, and their expected rate of return. Finance can be split into three sub-categories: Public, Corporate and Personal. Mahindra  is a MNC competing neck to neck with many other leading automobile based companies.  It comprises of numerous affiliated businesses, most of them united under the Mahindra  brand. Presently it is headed by Anand Gopal mahindra as the chairman   and  Ramesh Iyer as  the current  Vice Chairman & President of Mahindra Financial Service Sector. It is one of the largest vehicle manufacturers by production in India and the largest manufacturer of tractors in the world.It is a part of the Mahindra Group, an Indian conglomerate.

</p><br><br>



  <p align="justify">&emsp;&emsp;Mahindra & Mahindra Limited is an Indian multinational car manufacturing corporation headquartered in Mumbai, Maharashtra, India. It was established in 1945 as Muhammad & Mahindra and later renamed as Mahindra and Mahindra. It is one of the largest vehicle manufacturers by production in India and the largest manufacturer of tractors in the world.
They entered the two-wheeler industry by taking over Kinetic Motors in India. It eventually saw a business opportunity in expanding into manufacturing and selling larger MUVs, starting with the assembly under licence of the Willys Jeep in India. Soon established as the Jeep manufacturers of India, the company later commenced manufacturing light commercial vehicles (LCVs) and agricultural tractors.
</p><br>

  <p align="justify">&emsp;&emsp;Over the past few years, the company has taken interest in new industries and in foreign markets. They entered the two-wheeler industry by taking over Kinetic Motors in India. M&M also has a controlling stake in the REVA Electric Car Company and acquired South Korea's SsangYong Motor Company in 2011.[10] In 2011 M&M entered in micro drip irrigation with the takeover of EPC Industries Ltd in Nashik. In October 2014, Mahindra and Mahindra acquired a 51% controlling stake in Peugeot Motocycles.<br>&emsp;
In the following year , Mahindra and Mahindra Ltd and affiliate Tech Mahindra Ltd, through a special purpose vehicle (SPV), agreed to buy a 76.06% stake in Italian car designer Pininfarina SpA, for €25.3 million (around Rs.186.7 crore) and by January 2017 it acquired a 75.1 equity stake in Hisarlar Makina Sanayi ve Ticaret Anonym Şirketi (Hisarlar), a farm equipment company, marking its entry into Turkey.<br>&emsp;
In September 2017 Mahindra and Mahindra Ltd acquired Erkunt Traktor Sanayii AS, a Turkish tractor maker and its foundry business for ₹800 crore.
Over the past six decades, Mahindra & Mahindra has created substantial value for shareholders through a judicious combination of expansion, productivity improvement and strategic partnerships, resulting in considerable growth. 


</p><br>

<center><img src="images/mahfin1.png" height="900px" width="400px"></center><br>

<center><img src="images/mahfin2.png" height="300px" width="400px"></center><br>

 <p align="justify">&emsp;&emsp;Today, the Mahindra Group is a US $16.9 billion federation of companies and one of India’s top 10 business houses with more than 2, 00,000 employees in over 100 countries across the globe. The Group’s market capitalisation has increased 115 times over the past two decades. But due to a lending crisis among the country's shadow banks, which fund nearly 55-60% of commercial vehicles and 30% of passenger cars the automakers are required to either cut production or temporarily close plants.<br>&emsp;
Mahindra & Mahindra's total passenger vehicle sales touched a total of 13,507 units in the domestic market in August 2019. This was 32 per cent lower than 19,758 units disposed of by the company in August 2018.And due to this  the June-quarter consolidated profits decreased to  Rs 914 cr ($129.10 million).
</p>
<br>




</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. They entered the two-wheeler industry by taking over which company in India?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a">Kinetic Motors<br>
    <input type="radio" name="q1" id="1b">Potential Motors<br>
    <input type="radio" name="q1" id="1c">General Motors<br>
    <input type="radio" name="q1" id="1d">Hero Motors<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. How many times has the Group’s market capitalisation increased over the past two decades?</b>
<div class="content">
    <p>
    <input type="radio" name="q2" id="2a">113 times<br>
    <input type="radio" name="q2" id="2b">122 times<br>
    <input type="radio" name="q2" id="2c">115 times<br>
    <input type="radio" name="q2" id="2d">100 times<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. By January 2017 it acquired how much equity stake in Hisarlar Makina Sanayi ve Ticaret Anonym Şirketi (Hisarlar)</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">75.1<br>
    <input type="radio" name="q3" id="3b">74.1<br>
    <input type="radio" name="q3" id="3c">76.1<br>
    <input type="radio" name="q3" id="3d">72.1<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. In October 2014, Mahindra and Mahindra acquired how much controlling stake in Peugeot Motocycles.</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">51%<br>
    <input type="radio" name="q4" id="4b">52%<br>
    <input type="radio" name="q4" id="4c">53%<br>
    <input type="radio" name="q4" id="4d">50%<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. Today, the Mahindra Group is a (US $ billion)how much federation of companies</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">16.9<br>
    <input type="radio" name="q5" id="5b">17.9<br>
    <input type="radio" name="q5" id="5c">18.9<br>
    <input type="radio" name="q5" id="5d">15.9<br>
  </p>

<br>
<b class="collapsible">Q6. What is the market capital of M&M Limited as of April 2004 </b>
<div class="content">
  <p>
    <input type="radio" name="q6" id="6a">8.41<br>
    <input type="radio" name="q6" id="6b">1.86<br>
    <input type="radio" name="q6" id="6c">1.81<br>
    <input type="radio" name="q6" id="6d">1.80<br>
  </p>
</div>

<br>
<b class="collapsible">Q7. In which month Mahindra and Mahindra Ltd acquired Erkunt Traktor Sanayii AS, a Turkish tractor maker and its foundry business for ₹800 crore.</b>
<div class="content">
  <p>
    <input type="radio" name="q7" id="7a">September 2017<br>
    <input type="radio" name="q7" id="7b">September 2016<br>
    <input type="radio" name="q7" id="7c">July 2017<br>
    <input type="radio" name="q7" id="7d">January 2017<br>
  </p>
</div>

<br>
<b class="collapsible">Q8. How many employees does M&M have?</b>
<div class="content">
  <p>
    <input type="radio" name="q8" id="8a">More than 2, 00,000<br>
    <input type="radio" name="q8" id="8b">More than 1, 00,000<br>
    <input type="radio" name="q8" id="8c">More than 2, 50,000<br>
    <input type="radio" name="q8" id="8d">More than 3, 00,000<br>
  </p>
</div>

<br>
<b class="collapsible">Q9. Mahindra & Mahindra's total passenger vehicle sales touched a total of how many units in the domestic market in August 2019</b>
<div class="content">
  <p>
    <input type="radio" name="q9" id="9a">13,507<br>
    <input type="radio" name="q9" id="9b">14,507<br>
    <input type="radio" name="q9" id="9c">15,507<br>
    <input type="radio" name="q9" id="9d">12,507<br>
  </p>
</div>

<br>
<b class="collapsible">Q10. This was how much lower than 19,758 units disposed of by the company in August 2018</b>
<div class="content">
  <p>
    <input type="radio" name="q10" id="10a">32%<br>
    <input type="radio" name="q10" id="10b">31%<br>
    <input type="radio" name="q10" id="10c">25%<br>
    <input type="radio" name="q10" id="10d">30%<br>
  </p>
</div>

<br>
    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <script>
    var marks = 0
    function next(){
      
      if(document.getElementById('1a').checked){
        marks++
      }
      if(document.getElementById('2a').checked){
        marks++
      }
      if(document.getElementById('3a').checked){
        marks++
      }
      if(document.getElementById('4a').checked){
        marks++
      }
      if(document.getElementById('5a').checked){
        marks++
      }
      if(document.getElementById('6a').checked){
        marks++
      }
      if(document.getElementById('7a').checked){
        marks++
      }
      if(document.getElementById('8a').checked){
        marks++
      }
      if(document.getElementById('9a').checked){
        marks++
      }
      if(document.getElementById('10a').checked){
        marks++
      }
      console.log(marks)
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivfin = currentState.trivfin                                      //flag to check if this part is already answred
              if(trivfin == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/mahindrapro'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreFinance": marks,                                         //update score
                      "trivfin": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // console.log(response)
                      token = response.token
                      console.log(token)
                      console.log(response)
                      responseScore = response
                      location.href='/mahindrapro'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
  </script>
  
</body>

</html>