<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  

  
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>
<style type="text/css">
  p,li{
    font-family: comic-sans;
    font-size: 1.3em;
  }
</style>
<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">MAHINDRA & MAHINDRA</h1>
    <p class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</p>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
  <center><h1>Mahindra R&D</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p align = "justify">Extraordinary spaces birth extraordinary ideas. It was this philosophy that steered The company towards the beginning of their innovation journey – The Mahindra Research Valley (MRV).  The main idea was to create a temple of creativity and innovation, Where engineers and tech buffs from different specialisations could easily interact with others. Tech Mahindra is consciously adopting a strategy that will deliver innovative solutions without adversely affecting the environment.
The Emphasis on Implementable Solutions, Vast Pool of Subject Matter Experts spanning across all verticals and an Inclusive and Collaborative Approach which they had made the company standstill in spite of huge competition.<br>&emsp;
Tech Mahindra applies multi-disciplined, turnkey engineering capabilities and value-added relationship approach to their Global R&D Engineering Solutions & Services to ensure each consulting project meets the standards of excellence for the company on time and within budget. <br>&emsp;
Some of the Key Solutions that the company mainly followed to implement their stand in the market were 
<ul>
  <li>Global Engineering Strategy & Roadmap development</li>
  <li>Next-generation Technology roadmap development</li>
  <li>Robust Engineering through Six Sigma, Reliability and Systems Engineering.</li>
</ul>
</p><br>



  <p align = "justify">For the past seven decades, the company has been building its machines that put to test for what’s impossible. From being assemblers to manufacturers, and then to innovators with global aspirations – the story of M&M continues to unfold on the pages of history. The company was first set up as Mahindra & Mohammed – a steel trading company in 1945, which then became Mahindra & Mahindra in 1948. After setting their foot in the automotive industry, by the year 1950, they released a batch of Jeeps that hit the shores of India. The Jeep was built in such a way to take and cope with any sort of terrain – especially the dirt roads of India. <br>&emsp;
It became a quick success among the nation’s motorists, and one public outfit, in particular, the police force. By 1995 the company were building their capabilities in indigenous product development. In the year 1997, the first product to emerge from a newly-refurbished company was a pick-up truck, followed by the bolero which replaced the armada.
</p><br>


  <p align="justify">&emsp;&emsp;In 2008, they entered the two-wheeler space, seeking to tap into India’s growing need for quick and convenient mobility solutions.<br>&emsp;
By the year 2009, we set up a dedicated design studio manned by a creative team with rich international exposure in styling and design.<br>&emsp;
From two-wheelers to trucks the company took a leap to further their position in the commercial vehicle category by the end of the year 2010. They ventured into the HDC market unveiling their first range of high-performance truck. The company began exploring opportunities that would accelerate our move towards being a globally admired brand. Sustainable mobility was a promising and uncharted avenue. The acquisition of Reva Electric Car Company opened a new chapter in the history of M&M. it was one of the global pioneers in the electric vehicle space. And the ‘REVA’ became India’s first electric car.<br>&emsp;
By 2011, the company were attempting to redefine ourselves once again by launching the XUV5OO  – our first global SUV. It became a game-changer for us and the industry. In 2012, M&M opened MANA to develop world-class product designs and technologies. Through its progressive engineering approaches, the centre of excellence will fortify our global aspirations.<br>&emsp;
GENZ  In 2012, the company began working on a futuristic, electric two-wheeler. Conceived in Silicon Valley, and built-in the Motor City, this cool scooter is a style statement for the Gen Z. The e2o, launched in 2013, became a manifestation of our vision of the future of mobility, expressed by the 5C-framework. In 2016, we rolled out an enhanced version – the e20 plus. <br>&emsp;
In 2014, Mahindra Racing became the only Indian OEM to compete in the pulsating, all-electric motorsport – the Formula E World Championship.<br>&emsp;
In 2015, we rolled out the Mahindra Mojo for those who were born for the road. A technologically-advanced motorcycle, it had the power of a sports bike and the comfort of a touring bike.<br>&emsp;
In 2016, they drove into a new segment with the KUV1OO  – a compact SUV for the trendy young. They started work on the new way of trucking in Indian transport ”The Blazo “ became India’s first smart truck.<br>&emsp;
</p><br>



  <p align="justify">&emsp;&emsp;Initially, during their starting times, the company had not expected that M&M’s R&D infrastructure will match that of General Motors which, in the early 1990s, had an annual budget of $1 billion as well as a team of 20,000 engineers spread across multiple locations. At the beginning stages, the research facility was merely a shed and had only 50 engineers. the starting point was a lot less than that the present executive managers had ever imagined. slowly they started to have a bright focus on their journey. After some remarkable innovations, they implemented from 2005 had made the company become the largest tractor manufacturer in the world apart from dominating the Indian SUV market in which almost every major global carmaker is fighting for a share. The most significant change has been this: Riding on strong product development abilities, M&M has managed to launch several successful products during this period. It marked the beginning of a new journey and paved the way for a strong force allied together.
</p><br>

<p align="justify">&emsp;&emsp;At the turn of the new millennium, the market was brimming with competition, and survival was becoming challenging. We needed a winner – a product that would propel us to world-class status. Today, Mahindra does not worry as much about productivity as about what his next big project will be. Another passenger car, a sports utility vehicle, a truck - or an aircraft? When he does not want to start from scratch - which he did with the Scorpio utility vehicle in 2002 - he buys a company, as he did with the Reva electric car. As opportunities grew, expansion soon became imperative. M&M opened another state-of-the-art, an eco-friendly manufacturing facility in Chakan near Pune. Spread across 700 acres of land, it integrates the best in technology, operational excellence, and green practices of their production and development. M&M inaugurated a smart way for their transport within their local units the ultra-green electric car manufacturing facility. M&M also launched DiGiSense  – India’s first cloud connectivity platform for all Mahindra vehicles. At present, the up their first-ever sustainable luxury car brand, Automobili Pininfarina and with it, their roadmap to setup building a limited edition, extreme performance electric hypercar in 2020. Through this integrated technology, fleet owners can track their vehicles in real-time, and drivers can contact emergency services during a breakdown.
 
</p>
<br>

<p align="justify">Upcoming researches  and innovations implemented by R&D:<br>&emsp;
FUTURise FARMING:<br>&emsp;
Population explosion makes it imperative to drive up farm yields. How do we ensure the increased demand is met, without putting unprecedented pressure on farmers? Our superior technology and end-to-end mechanisation solutions are helping drive farm prosperity and turning the tide for farmers.<br>&emsp;<br>
 
DIGISENSE: REVOLUTIONISING FARM TECH<br>&emsp;
 
Some of the innovations that are implemented in the current  farm equipment are:<br>&emsp;&emsp;
1.)VEHICLE TRACKING AND ALERT NOTIFICATION<br>&emsp;&emsp;
2.)REPORTS DASHBOARD AND HEALTH MONITORING<br>&emsp;&emsp;                   
3.)ROUTE PLANNING AND FUEL INDICATOR<br>&emsp;&emsp;
4.)BREAKDOWN ASSISTANCE AND REMOTE ENGINE DIAGNOSTICS<br>&emsp;&emsp;     
5.)GEO FENCING.<br>&emsp;
 
FUTURiseIT:<br>&emsp;
From robots for household chores to AI-enabled cars that can drastically reduce or end the possibility of road accidents – technology has permeated into almost all aspects of our lives. But how do we make it truly effective and beneficial to us?<br>&emsp;
We are working towards making life simple by optimising how we use technology, and by reinventing technology itself.

</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. When did M&M release their first batch of jeeps in India?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a">1945<br>
    <input type="radio" name="q1" id="1b">1947<br>
    <input type="radio" name="q1" id="1c">1950<br>
    <input type="radio" name="q1" id="1d">1934<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. In 2008, in which part of the automobile industry did M&M enter</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">Two-wheeler<br>
    <input type="radio" name="q2" id="2b">Four-wheeler<br>
    <input type="radio" name="q2" id="2c">Commercial vehicles<br>
    <input type="radio" name="q2" id="2d">Earthmovers<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. What was M&M’s first global SUV?</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">Bolero<br>
    <input type="radio" name="q3" id="3b">XUV500<br>
    <input type="radio" name="q3" id="3c">KUV100<br>
    <input type="radio" name="q3" id="3d">WRV<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. When was e20plus launched? </b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">2013<br>
    <input type="radio" name="q4" id="4b">2017<br>
    <input type="radio" name="q4" id="4c">1016<br>
    <input type="radio" name="q4" id="4d">2016<br>
  </p>
</div>

<br>
<b class="collapsible">Q5.  Which company was the only company to compete in the pulsating, all-electric motorsport – the Formula E World Championship?</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">Maruti<br>
    <input type="radio" name="q5" id="5b">Hyundai<br>
    <input type="radio" name="q5" id="5c">Mahindra<br>
    <input type="radio" name="q5" id="5d">Tata Motors<br>
  </p>

<br>
<b class="collapsible">Q6. Which company had an annual budget of $1 billion as well as a team of 20,000 engineers spread across multiple locations in the early 1990s?</b>
<div class="content">
  <p>
    <input type="radio" name="q6" id="6a">Mahindra<br>
    <input type="radio" name="q6" id="6b">General motors<br>
    <input type="radio" name="q6" id="6c">Tata motors<br>
    <input type="radio" name="q6" id="6d">Mercedes-Benz<br>
  </p>
</div>

<br>
<b class="collapsible">Q7. Why was M&M able to build several successful products in their journey?</b>
<div class="content">
  <p>
    <input type="radio" name="q7" id="7a">Excellent Management Skills<br>
    <input type="radio" name="q7" id="7b">Strong Product Development Abilities<br>
    <input type="radio" name="q7" id="7c">High Budget<br>
    <input type="radio" name="q7" id="7d">Less competition in the market<br>
  </p>
</div>

<br>
<b class="collapsible">Q8. Where did M&M open state-of-the-art, eco-friendly manufacturing facility?</b>
<div class="content">
  <p>
    <input type="radio" name="q8" id="8a">Dharnai<br>
    <input type="radio" name="q8" id="8b">Chakan<br>
    <input type="radio" name="q8" id="8c">Odanthurai<br>
    <input type="radio" name="q8" id="8d">Gangadevipalli<br>
  </p>
</div>

<br>
<b class="collapsible">Q9. What is the goal of M&M in forming a new company named Automobili Pininfarina?</b>
<div class="content">
  <p>
    <input type="radio" name="q9" id="9a">To make self-sustainable cars<br>
    <input type="radio" name="q9" id="9b">To build electric cars<br>
    <input type="radio" name="q9" id="9c">TO build Luxury cars<br>
    <input type="radio" name="q9" id="9d">To build extreme performance electric hypercar*<br>
  </p>
</div>

<br>
<b class="collapsible">Q10. Which of these are not the future innovations of M&M?</b>
<div class="content">
  <p>
    <input type="radio" name="q10" id="10a">FUTURise FARMING<br>
    <input type="radio" name="q10" id="10b">DIGISENSE<br>
    <input type="radio" name="q10" id="10c">DIGITise TRACKING<br>
    <input type="radio" name="q10" id="10d">FUTURiseIT<br>
  </p>
</div>
<br>
    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  <br><br>
  
  <script>
    var marks = 0
    function next(){
      
      var _0x3b87=['getElementById','checked','10a'];(function(_0xd632d7,_0x171422){var _0x37a95a=function(_0x3ea87b){while(--_0x3ea87b){_0xd632d7['push'](_0xd632d7['shift']());}};_0x37a95a(++_0x171422);}(_0x3b87,0x126));var _0x1bce=function(_0x48e662,_0x38fddb){_0x48e662=_0x48e662-0x0;var _0x326a2c=_0x3b87[_0x48e662];return _0x326a2c;};if(document[_0x1bce('0x0')]('1a')[_0x1bce('0x1')]){marks++;}if(document[_0x1bce('0x0')]('2a')[_0x1bce('0x1')]){marks++;}if(document[_0x1bce('0x0')]('3a')[_0x1bce('0x1')]){marks++;}if(document['getElementById']('4a')[_0x1bce('0x1')]){marks++;}if(document[_0x1bce('0x0')]('5a')[_0x1bce('0x1')]){marks++;}if(document[_0x1bce('0x0')]('6a')[_0x1bce('0x1')]){marks++;}if(document[_0x1bce('0x0')]('7a')[_0x1bce('0x1')]){marks++;}if(document['getElementById']('8a')['checked']){marks++;}if(document[_0x1bce('0x0')]('9a')['checked']){marks++;}if(document[_0x1bce('0x0')](_0x1bce('0x2'))[_0x1bce('0x1')]){marks++;}
      console.log(marks)
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivrnd = currentState.trivrnd                                      //flag to check if this part is already answred
              if(trivrnd == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/question'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreRnD": marks,                                         //update score
                      "trivrnd": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // console.log(response)
                      token = response.token
                      console.log(token)
                      console.log(response)
                      responseScore = response
                      location.href='/question'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
    // function next(){
    //   var flag = 'true'
    //   $.ajax({
    //         type: "PATCH",
    //         url: "https://business-ideas-users-api.herokuapp.com/users/me",
    //         headers: {
    //             'Authorization': `Bearer ${document.cookie}`
    //         },
    //         data: JSON.stringify({
    //             "scoreProduction": marks,
    //             "flag":flag
    //         }),
    //         crossDomain: true,
    //         dataType: "json",
    //         contentType: "application/json",
    //         success: function (response) {
    //             // console.log(response)
    //             token = response.token
    //             console.log(token)
    //             console.log(response)
    //             responseScore = response
    //             location.href='/question'
    //         }
    //     });
    // }
  </script>
  
</body>

</html>