.selected {
    color: rgba(255, 255, 255, 0.877);
    background-color: #0288d1;
}

.container {
    text-align: center;
}

.question {
    height: 300px;
     background-color: #0288d1; 
    padding-bottom: 2%;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 0%;
    padding-left: 2%;
    padding-right: 2%;
    color: rgba(255, 255, 255, 0.877);
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
  }

.question p {
    /* padding-bottom: 2%; */
}

#submit {
    margin-top: 5%;
    background-color: #0288d1; 
}
/* #submit:hover{
    background: rgb(37, 119, 41)
} */
.expand{
    height: 650px;
    background-color: #0288d1;
    padding-bottom: 5%;
    overflow: scroll;
    overflow-x:hidden;
    margin-bottom: 0;
    margin-top:0%;
    padding-left: 2%;
    padding-right: 2%;
    color: rgba(255, 255, 255, 0.877);
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
    
    


}
.material-icons:hover{
    transform: scale(1.3);
    transition: all 2s ease;
}


#expand-sym{
    background-color: #0288d1;
    height: 30px;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 10px;
    cursor:pointer;
    transition: all 1s ease;
}
#expand-sym p{
    margin-top: 0%;
    color: #F5F5F5;
    transition: all 1s ease;
}
#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}
#items{
    list-style:none;
    margin:0px;
    margin-top:4px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:3px;
    font-size:17px;
    color: #333333;
    
  }
  hr { width: 85%; 
    background-color:#E4E4E4;
    border-color:#E4E4E4;
      color:#E4E4E4;
  }
  #cntnr{
    display:none;
    text-align: center;
    position:fixed;
    border:1px solid rgb(233, 233, 233);
    width:150px;      
    background-color: #feffffd0;
     
    
    border-radius:4px;
    cursor:pointer;
    font-size: 16px;
  }
  
  li{
    
    padding: 3px;
    padding-left:10px;
  }
  
  
  #items :hover{
     color: white;
    background:#284570;
    border-radius:2px;
  }